[kelvins-server]
Environment = "dev"

[kelvins-logger]
RootPath = "./logs"
Level = "debug"

[kelvins-rpc-auth]
Token = "c9VW6ForlmzdeDkZE2i8"
TransportSecurity = false

[kelvins-rpc-server]
NumServerWorkers = 6

[kelvins-mysql]
Host = "127.0.0.1:3306"
UserName = "root"
Password = "yertyert"
DBName = "micro_mall_trolley"
Charset = "utf8"
PoolNum =  10
MaxIdleConns = 5
ConnMaxLifeSecond = 3600
MultiStatements = true
ParseTime = true

[kelvins-redis]
Host = "127.0.0.1:6379"
Password = "dfasdf"
DB = 1
PoolNum = 10
